.imageContainer {
    float:left;
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:50%;
    height:60vh;
    margin-right:20px;
}

.imageContainer img {
    width:100%;
    height:100%;
    object-fit:cover;
}

p {
    margin:0;
    font-size:35px;  
    margin-top:20px; 
    margin-left:10px;    
}

.footer {
    border-top:2px solid #000000;
    background-color:rgb(200,200,200);
    margin-top:10px;
    padding:20px;
}