.contactBanner {
    width:100%;
    height:30vh;
    background-color:#00CED1;
    font-family:'Verdana',sans-serif;
    border-bottom:2px solid black;
}

.contactBanner h1, p {
    margin:0;
    text-align:center;
}

.contactBanner h1 {
    padding-top:60px;
}

.contactArea #email, #name, #text {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:30%;
    margin-top:40px;
    border:1px solid rgb(0, 0, 0);
    
}

.contactArea #text {
    resize:none;
    margin-top:100px;
    height:20vh;
    margin-bottom:0px;
}

.contactArea #button {
    position:relative;
    left:50%;
    transform:translate(-50%,-50%);

    background-color:#00CED1;
    width:30%;
    height:5vh;
    font-family:'Verdana',sans-serif;
}

.contactArea #button:hover {
    background-color:#00babd
}

.contactArea #errorMessage {
    font-family:'Verdana',sans-serif;
}