body, html {
    margin:0;
    overflow:hidden;
}

.leftSide {
    width:60%;
    height:100vh;
    position:relative;
    float:left;
}

.rightSide {
    width:40%;
    height:100vh;
    position:relative;
    float:left;
    background-color:rgb(200,200,200);
}

.leftSide img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.leftSide h1::before {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    content:'';
    border-radius:10px;
    background-color:rgba(200, 200, 200, 0.9)
}

.leftSide h1 {
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    font-size:40px;
    font-family:'Verdana',sans-serif;
    color:#000000;
    text-align:center;
    padding:20px;

}

.rightSide img {
    position:absolute;
    top:25%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:50px;
    width:100px; 
    height:100px; 
    border:2px solid black;
}

.links {
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
}
    
.links a {
    font-size:32px;
    font-family:'Verdana',sans-serif;
    color:rgb(0, 0, 0);
    text-decoration:none;
}

.links a:hover {
    color:#000080;
}