.imageContainer {
    float:left;
    width:80%;
    height:91.9vh;
    border-right:2px solid black;
    border-bottom:2px solid black;
    margin-right:10px;
    overflow:hidden;
}

.imageContainer img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.textContainer {
    float:left;
    width:19%;
    height:85vh;
    font-family:'Verdana',sans-serif;
}

.buttons input {
    font-size:32px;
    margin-top:8px;
}

#one {
    margin-left:85px;
}