.imageContainer {
    width:100%;
    height:30vh;
    border-bottom:2px solid black;
}

.imageContainer img {
    height:100%;
    width:100%;
    object-fit:cover;
}

.textContainer {
    padding-top:15px;
    padding-bottom:45px;
    border-bottom:1px solid black;
}

.textContainer h1, u {
    margin-left:10px;
}

.projects {
    margin-left:10px;
    font-family:'Verdana',sans-serif;
}

.projects a {
    text-decoration:none;
    color:#000080
}

.projects a:hover {
    color:blue
}